* {
    box-sizing: border-box
}

#card-wrap {
    border: 1px solid black;
    background-color: #ccc;
    height: 510px;
    padding: 1px;
    width: 510px;
    position: relative;
    margin: 15px;
    display: inline-block;
}

#card-wrap p {
    font-size: 2em;
    text-align: center;
}

#card-wrap button {
    background-color: #4CAwF50;
    /* Green */
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    width: 100%;
    position: absolute;
    right: 0;
    bottom: 0;
}

body {
    font-family: Helvetica, Arial, sans-serif;
}

h2 {
    text-align: center;
    border: 1px dotted lightgray;
    padding: .5em;
    margin-top: 0;
}

p {
    padding: 0 5px;
    text-align: justify;
    margin-bottom: 5px;
}